<div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img
          src="/images/testimonial.jpg"
          alt="A
        happy smiling costumer."
        />
        <span class="icon-container icon-container--accent">
        </svg><svg class="icon icon--white icon--small">
          <use class="" xlink:href="images/sprite.svg#quotes"></use>
        </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure enim
          laudantium aperiam exercitationem nam dolore sed voluptates. Molestias,
          quibusdam? Accusantium.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              </svg><svg class="icon quote__line">
                <use class="icon--primary" xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__organization">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>